<!DOCTYPE html>
<html lang="en">
    <%- include('block/head') %>
    <%- include('block/face') %>
    <%- include('block/problems') %>
    <%- include('block/stop') %>
    <%- include('block/pain') %>
    <%- include('block/step') %>
    <%- include('block/face') %>
    <body>
        <%- include('block/script') %>
    </body>
</html>
